In [59]:
import pandas as pd
import numpy as np

data=np.random.randn(50,3)
null_index= np.random.choice([True,False],size=(50,3),p=[0.10,0.90])
data[null_index]=np.nan
df=pd.DataFrame(data,columns=["First column","Second column","Third column"])
df

    First column  Second column  Third column
0            NaN            NaN      1.049240
1      -1.086478      -0.244348     -1.715656
2       0.784646            NaN      0.730712
3            NaN      -0.014691      0.963216
4      -1.680882       0.564880      0.025495
5            NaN       0.491886      0.524444
6      -0.438535      -0.000002     -1.074958
7      -1.142520       1.001750     -0.907417
8            NaN      -1.541189      1.780875
9       1.610021            NaN     -0.440238
10           NaN            NaN      1.660669
11      0.198145      -0.141698      0.516393
12      1.333085      -0.430349     -0.541828
13      2.586281      -1.081418     -1.495401
14           NaN      -1.810435      1.203474
15     -0.759774            NaN     -0.570834
16      0.406149       0.249225     -0.507079
17     -0.728731      -0.168289     -0.550014
18           NaN       0.162191      0.737454
19     -0.202642      -0.809385      0.926497
20     -0.632130       0.095051     -0.529380
21      0.202327       0.508415      0.666815
22           NaN       0.479818           NaN
23      0.314417       0.000151      0.367376
24     -0.009607      -2.503524      0.497695
25     -1.793473       0.802720     -1.344382
26     -1.551419       0.324804     -0.639828
27      1.013745       1.279406      0.033129
28      1.206648      -0.745576     -0.100968
29      0.389978      -0.735264      0.024231
30           NaN      -0.030050     -0.170046
31     -0.356475       0.774739     -0.119888
32     -0.957422      -0.972136      0.417549
33      0.094455       1.594156           NaN
34     -0.721203       0.712613     -1.576161
35     -0.881858       0.317247     -0.751328
36     -1.803621      -2.454738      0.720025
37     -0.451096       0.537930     -0.290009
38     -1.012329       0.185797     -0.587358
39           NaN       0.946291     -0.488751
40      0.501319            NaN      0.664198
41     -1.169954            NaN     -0.401306
42     -0.510108            NaN     -0.150491
43      0.372117            NaN      0.691008
44      0.394212      -1.436297      0.927138
45     -0.613697      -1.746581      0.123810
46     -2.556021       0.349167     -0.533186
47      0.243551       2.146408     -0.386867
48      1.342335            NaN     -0.905153
49     -0.079612      -0.737700      0.856659

In [60]:
# part a: Identify and count missing values in a dataframe
df1=df.isnull().sum()
df1

First column     10
Second column    10
Third column      2
dtype: int64

In [61]:
# part b: Drop the column having more than 5 null values
thresh_val=df.shape[0] - 5
df.dropna(axis=1, thresh=thresh_val)

    Third column
0       1.049240
1      -1.715656
2       0.730712
3       0.963216
4       0.025495
5       0.524444
6      -1.074958
7      -0.907417
8       1.780875
9      -0.440238
10      1.660669
11      0.516393
12     -0.541828
13     -1.495401
14      1.203474
15     -0.570834
16     -0.507079
17     -0.550014
18      0.737454
19      0.926497
20     -0.529380
21      0.666815
22           NaN
23      0.367376
24      0.497695
25     -1.344382
26     -0.639828
27      0.033129
28     -0.100968
29      0.024231
30     -0.170046
31     -0.119888
32      0.417549
33           NaN
34     -1.576161
35     -0.751328
36      0.720025
37     -0.290009
38     -0.587358
39     -0.488751
40      0.664198
41     -0.401306
42     -0.150491
43      0.691008
44      0.927138
45      0.123810
46     -0.533186
47     -0.386867
48     -0.905153
49      0.856659

In [62]:
# part c: the row label having maximum of the sum of all values in a row and drop that row
a=df.sum(axis=1).idxmax()
df.drop(index=a)

    First column  Second column  Third column
0            NaN            NaN      1.049240
1      -1.086478      -0.244348     -1.715656
2       0.784646            NaN      0.730712
3            NaN      -0.014691      0.963216
4      -1.680882       0.564880      0.025495
5            NaN       0.491886      0.524444
6      -0.438535      -0.000002     -1.074958
7      -1.142520       1.001750     -0.907417
8            NaN      -1.541189      1.780875
9       1.610021            NaN     -0.440238
10           NaN            NaN      1.660669
11      0.198145      -0.141698      0.516393
12      1.333085      -0.430349     -0.541828
13      2.586281      -1.081418     -1.495401
14           NaN      -1.810435      1.203474
15     -0.759774            NaN     -0.570834
16      0.406149       0.249225     -0.507079
17     -0.728731      -0.168289     -0.550014
18           NaN       0.162191      0.737454
19     -0.202642      -0.809385      0.926497
20     -0.632130       0.095051     -0.529380
21      0.202327       0.508415      0.666815
22           NaN       0.479818           NaN
23      0.314417       0.000151      0.367376
24     -0.009607      -2.503524      0.497695
25     -1.793473       0.802720     -1.344382
26     -1.551419       0.324804     -0.639828
28      1.206648      -0.745576     -0.100968
29      0.389978      -0.735264      0.024231
30           NaN      -0.030050     -0.170046
31     -0.356475       0.774739     -0.119888
32     -0.957422      -0.972136      0.417549
33      0.094455       1.594156           NaN
34     -0.721203       0.712613     -1.576161
35     -0.881858       0.317247     -0.751328
36     -1.803621      -2.454738      0.720025
37     -0.451096       0.537930     -0.290009
38     -1.012329       0.185797     -0.587358
39           NaN       0.946291     -0.488751
40      0.501319            NaN      0.664198
41     -1.169954            NaN     -0.401306
42     -0.510108            NaN     -0.150491
43      0.372117            NaN      0.691008
44      0.394212      -1.436297      0.927138
45     -0.613697      -1.746581      0.123810
46     -2.556021       0.349167     -0.533186
47      0.243551       2.146408     -0.386867
48      1.342335            NaN     -0.905153
49     -0.079612      -0.737700      0.856659

In [63]:
# part d: Sorting the dataframe on the basis of the first column
df.sort_values('First column', ignore_index=True)

    First column  Second column  Third column
0      -2.556021       0.349167     -0.533186
1      -1.803621      -2.454738      0.720025
2      -1.793473       0.802720     -1.344382
3      -1.680882       0.564880      0.025495
4      -1.551419       0.324804     -0.639828
5      -1.169954            NaN     -0.401306
6      -1.142520       1.001750     -0.907417
7      -1.086478      -0.244348     -1.715656
8      -1.012329       0.185797     -0.587358
9      -0.957422      -0.972136      0.417549
10     -0.881858       0.317247     -0.751328
11     -0.759774            NaN     -0.570834
12     -0.728731      -0.168289     -0.550014
13     -0.721203       0.712613     -1.576161
14     -0.632130       0.095051     -0.529380
15     -0.613697      -1.746581      0.123810
16     -0.510108            NaN     -0.150491
17     -0.451096       0.537930     -0.290009
18     -0.438535      -0.000002     -1.074958
19     -0.356475       0.774739     -0.119888
20     -0.202642      -0.809385      0.926497
21     -0.079612      -0.737700      0.856659
22     -0.009607      -2.503524      0.497695
23      0.094455       1.594156           NaN
24      0.198145      -0.141698      0.516393
25      0.202327       0.508415      0.666815
26      0.243551       2.146408     -0.386867
27      0.314417       0.000151      0.367376
28      0.372117            NaN      0.691008
29      0.389978      -0.735264      0.024231
30      0.394212      -1.436297      0.927138
31      0.406149       0.249225     -0.507079
32      0.501319            NaN      0.664198
33      0.784646            NaN      0.730712
34      1.013745       1.279406      0.033129
35      1.206648      -0.745576     -0.100968
36      1.333085      -0.430349     -0.541828
37      1.342335            NaN     -0.905153
38      1.610021            NaN     -0.440238
39      2.586281      -1.081418     -1.495401
40           NaN            NaN      1.049240
41           NaN      -0.014691      0.963216
42           NaN       0.491886      0.524444
43           NaN      -1.541189      1.780875
44           NaN            NaN      1.660669
45           NaN      -1.810435      1.203474
46           NaN       0.162191      0.737454
47           NaN       0.479818           NaN
48           NaN      -0.030050     -0.170046
49           NaN       0.946291     -0.488751

In [64]:
# part e: Removing all duplicates from the first column
df.drop_duplicates('First column')

    First column  Second column  Third column
0            NaN            NaN      1.049240
1      -1.086478      -0.244348     -1.715656
2       0.784646            NaN      0.730712
4      -1.680882       0.564880      0.025495
6      -0.438535      -0.000002     -1.074958
7      -1.142520       1.001750     -0.907417
9       1.610021            NaN     -0.440238
11      0.198145      -0.141698      0.516393
12      1.333085      -0.430349     -0.541828
13      2.586281      -1.081418     -1.495401
15     -0.759774            NaN     -0.570834
16      0.406149       0.249225     -0.507079
17     -0.728731      -0.168289     -0.550014
19     -0.202642      -0.809385      0.926497
20     -0.632130       0.095051     -0.529380
21      0.202327       0.508415      0.666815
23      0.314417       0.000151      0.367376
24     -0.009607      -2.503524      0.497695
25     -1.793473       0.802720     -1.344382
26     -1.551419       0.324804     -0.639828
27      1.013745       1.279406      0.033129
28      1.206648      -0.745576     -0.100968
29      0.389978      -0.735264      0.024231
31     -0.356475       0.774739     -0.119888
32     -0.957422      -0.972136      0.417549
33      0.094455       1.594156           NaN
34     -0.721203       0.712613     -1.576161
35     -0.881858       0.317247     -0.751328
36     -1.803621      -2.454738      0.720025
37     -0.451096       0.537930     -0.290009
38     -1.012329       0.185797     -0.587358
40      0.501319            NaN      0.664198
41     -1.169954            NaN     -0.401306
42     -0.510108            NaN     -0.150491
43      0.372117            NaN      0.691008
44      0.394212      -1.436297      0.927138
45     -0.613697      -1.746581      0.123810
46     -2.556021       0.349167     -0.533186
47      0.243551       2.146408     -0.386867
48      1.342335            NaN     -0.905153
49     -0.079612      -0.737700      0.856659

In [65]:
# part f: Finding correlation between first and second column and covariance between second and third column

In [66]:
df['First column'].corr(df['Second column'])

-0.09560670752718779

In [67]:
df['Second column'].cov(df['Third column'])

-0.3842857140042494

In [68]:
# part g: Detecting outliers and removing the rows having outliers
outlier=pd.Series(data=False,index=df.index)
for col in df.columns: 
        
        Q1= df[col].quantile(0.25)
        Q3= df[col].quantile(0.75)
        IQR=Q3-Q1
    
        lower_bound = Q1-(1.5 * IQR)
        upper_bound = Q3+(1.5 * IQR)
        outlier |= (df[col] < lower_bound) | (df[col] > upper_bound)
df=df[~outlier]
df

    First column  Second column  Third column
0            NaN            NaN      1.049240
1      -1.086478      -0.244348     -1.715656
2       0.784646            NaN      0.730712
3            NaN      -0.014691      0.963216
4      -1.680882       0.564880      0.025495
5            NaN       0.491886      0.524444
6      -0.438535      -0.000002     -1.074958
7      -1.142520       1.001750     -0.907417
8            NaN      -1.541189      1.780875
9       1.610021            NaN     -0.440238
10           NaN            NaN      1.660669
11      0.198145      -0.141698      0.516393
12      1.333085      -0.430349     -0.541828
14           NaN      -1.810435      1.203474
15     -0.759774            NaN     -0.570834
16      0.406149       0.249225     -0.507079
17     -0.728731      -0.168289     -0.550014
18           NaN       0.162191      0.737454
19     -0.202642      -0.809385      0.926497
20     -0.632130       0.095051     -0.529380
21      0.202327       0.508415      0.666815
22           NaN       0.479818           NaN
23      0.314417       0.000151      0.367376
24     -0.009607      -2.503524      0.497695
25     -1.793473       0.802720     -1.344382
26     -1.551419       0.324804     -0.639828
27      1.013745       1.279406      0.033129
28      1.206648      -0.745576     -0.100968
29      0.389978      -0.735264      0.024231
30           NaN      -0.030050     -0.170046
31     -0.356475       0.774739     -0.119888
32     -0.957422      -0.972136      0.417549
33      0.094455       1.594156           NaN
34     -0.721203       0.712613     -1.576161
35     -0.881858       0.317247     -0.751328
36     -1.803621      -2.454738      0.720025
37     -0.451096       0.537930     -0.290009
38     -1.012329       0.185797     -0.587358
39           NaN       0.946291     -0.488751
40      0.501319            NaN      0.664198
41     -1.169954            NaN     -0.401306
42     -0.510108            NaN     -0.150491
43      0.372117            NaN      0.691008
44      0.394212      -1.436297      0.927138
45     -0.613697      -1.746581      0.123810
46     -2.556021       0.349167     -0.533186
47      0.243551       2.146408     -0.386867
48      1.342335            NaN     -0.905153
49     -0.079612      -0.737700      0.856659

In [84]:
# part h: Discretizing second column and create 5 bins
df['Binning']=pd.cut(np.array(df['Second column']),bins=5)
df

C:\Users\DELL\AppData\Local\Temp\ipykernel_22328\3145034123.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Binning']=pd.cut(np.array(df['Second column']),bins=5)

,First column,Second column,Third column,Second Column,Binning
0,NaN,NaN,1.049240,NaN,NaN
1,-1.086478,-0.244348,-1.715656,"(-0.644, 0.286]","(-0.644, 0.286]"
2,0.784646,NaN,0.730712,NaN,NaN
3,NaN,-0.014691,0.963216,"(-0.644, 0.286]","(-0.644, 0.286]"
4,-1.680882,0.564880,0.025495,"(0.286, 1.216]","(0.286, 1.216]"
5,NaN,0.491886,0.524444,"(0.286, 1.216]","(0.286, 1.216]"
6,-0.438535,-0.000002,-1.074958,"(-0.644, 0.286]","(-0.644, 0.286]"
7,-1.142520,1.001750,-0.907417,"(0.286, 1.216]","(0.286, 1.216]"
8,NaN,-1.541189,1.780875,"(-1.574, -0.644]","(-1.574, -0.644]"
9,1.610021,NaN,-0.440238,NaN,NaN
10,NaN,NaN,1.660669,NaN,NaN
11,0.198145,-0.141698,0.516393,"(-0.644, 0.286]","(-0.644, 0.286]"
12,1.333085,-0.430349,-0.541828,"(-0.644, 0.286]","(-0.644, 0.286]"
14,NaN,-1.810435,1.203474,"(-2.508, -1.574]","(-2.508, -1.574]"
15,-0.759774,NaN,-0.570834,NaN,NaN
16,0.406149,0.249225,-0.507079,"(-0.644, 0.286]","(-0.644, 0.286]"
17,-0.728731,-0.168289,-0.550014,"(-0.644, 0.286]","(-0.644, 0.286]"
18,NaN,0.162191,0.737454,"(-0.644, 0.286]","(-0.644, 0.286]"
19,-0.202642,-0.809385,0.926497,"(-1.574, -0.644]","(-1.574, -0.644]"
20,-0.632130,0.095051,-0.529380,"(-0.644, 0.286]","(-0.644, 0.286]"
21,0.202327,0.508415,0.666815,"(0.286, 1.216]","(0.286, 1.216]"
22,NaN,0.479818,NaN,"(0.286, 1.216]","(0.286, 1.216]"
23,0.314417,0.000151,0.367376,"(-0.644, 0.286]","(-0.644, 0.286]"
24,-0.009607,-2.503524,0.497695,"(-2.508, -1.574]","(-2.508, -1.574]"
25,-1.793473,0.802720,-1.344382,"(0.286, 1.216]","(0.286, 1.216]"
26,-1.551419,0.324804,-0.639828,"(0.286, 1.216]","(0.286, 1.216]"
27,1.013745,1.279406,0.033129,"(1.216, 2.146]","(1.216, 2.146]"
28,1.206648,-0.745576,-0.100968,"(-1.574, -0.644]","(-1.574, -0.644]"
29,0.389978,-0.735264,0.024231,"(-1.574, -0.644]","(-1.574, -0.644]"
30,NaN,-0.030050,-0.170046,"(-0.644, 0.286]","(-0.644, 0.286]"
31,-0.356475,0.774739,-0.119888,"(0.286, 1.216]","(0.286, 1.216]"
32,-0.957422,-0.972136,0.417549,"(-1.574, -0.644]","(-1.574, -0.644]"
33,0.094455,1.594156,NaN,"(1.216, 2.146]","(1.216, 2.146]"
34,-0.721203,0.712613,-1.576161,"(0.286, 1.216]","(0.286, 1.216]"
35,-0.881858,0.317247,-0.751328,"(0.286, 1.216]","(0.286, 1.216]"
36,-1.803621,-2.454738,0.720025,"(-2.508, -1.574]","(-2.508, -1.574]"
37,-0.451096,0.537930,-0.290009,"(0.286, 1.216]","(0.286, 1.216]"
38,-1.012329,0.185797,-0.587358,"(-0.644, 0.286]","(-0.644, 0.286]"
39,NaN,0.946291,-0.488751,"(0.286, 1.216]","(0.286, 1.216]"
40,0.501319,NaN,0.664198,NaN,NaN
41,-1.169954,NaN,-0.401306,NaN,NaN
42,-0.510108,NaN,-0.150491,NaN,NaN
43,0.372117,NaN,0.691008,NaN,NaN
44,0.394212,-1.436297,0.927138,"(-1.574, -0.644]","(-1.574, -0.644]"
45,-0.613697,-1.746581,0.123810,"(-2.508, -1.574]","(-2.508, -1.574]"
46,-2.556021,0.349167,-0.533186,"(0.286, 1.216]","(0.286, 1.216]"
47,0.243551,2.146408,-0.386867,"(1.216, 2.146]","(1.216, 2.146]"
48,1.342335,NaN,-0.905153,NaN,NaN
49,-0.079612,-0.737700,0.856659,"(-1.574, -0.644]","(-1.574, -0.644]"

In [85]:
pd.cut(np.array(df['Second column']),bins=5)

[NaN, (-0.644, 0.286], NaN, (-0.644, 0.286], (0.286, 1.216], ..., (-2.508, -1.574], (0.286, 1.216], (1.216, 2.146], NaN, (-1.574, -0.644]]
Length: 49
Categories (5, interval[float64, right]): [(-2.508, -1.574] < (-1.574, -0.644] < (-0.644, 0.286] < (0.286, 1.216] < (1.216, 2.146]]